// variables
$base-background-color: #f9f9f9;

// mixin
@mixin flex($direction: row, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}
@mixin fullrect() {
  width: 100%;
  height: 100%;
}
@mixin sp {
  @media (max-width: (1300px)) {
    @content;
  }
}
