
@import '../../style/constant.scss';

.wrapper {
  @include fullrect();
  color: red;
}

.dark {
  background-color: #666;
}

.light {
  background-color: #ccc;
}

.layer {
  @include fullrect();
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;

  &.show {
    display: block;
  }
}
